@import './base.css';

#app {
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem; */

  font-weight: normal;
  /* overflow-x: hidden; */
  overflow: hidden;
}


a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem; */
    width: 100%;
  }
}

/*applicable sa navbar*/
.dropdown-toggle::after {
  color: white;
}

.navbar-toggler-icon{
  color: white;
}

.mr-1 {
  margin-right: 1em;
}

.ml-1 {
  margin-left: 1em;
}


.form-control {
  line-height: 0px;
}

.text-right {
  text-align: right;
}



/* .next-page__click-button {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-top: 2px solid #f8f9fa;
    border-left: 2px solid #f8f9fa;
    transform: rotate(135deg);
} */

/* .previous-page__click-button .arrow[data-v-c9da5286], .next-page__click-button .arrow[data-v-c9da5286]{
  display: inline-block;
    width: 8px;
    height: 8px;
    border-top: 2px solid #f8f9fa;
    border-left: 2px solid #f8f9fa;
    transform: rotate(135deg);
} */